.trending--container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2%;
}
.trending--heading {
    color: var(--background-white);
    font-size: var(--font-heading-large);
    font-weight: var(--light);
}
.rating--movies {
    padding-top: 25px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 3%;
    overflow-x: auto;
}
.item--span {
    font-size: var(--font-body-medium);
    color: var(--background-white);
    font-weight: var(--light);
    opacity: 70%;
}
.movie-card {
    position: relative;
    background-size: cover;
    display: flex;
    padding-bottom: 10px;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    padding-left: 20px;
    min-width: 35%;
    height: 250px;
    background-color: #000000;
    background-size: cover;
    border-radius: 8px;
}
.card--heading {
    font-size: var(--font-heading-medium);
    color: var(--background-white);
    font-weight: var(--medium);
}
.bookmark--container {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    opacity: 50%;
    justify-content: center;
    background-color: var(--background-dark-blue);
    color: var(--background-white);
    cursor: pointer;
}
.bookmark--card {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 20px;
}
.bookmark--icon {
    width: 12px;
    height: 14px;
}
.movie-card:hover .play--button--container{
    opacity: 0.5;
    display: flex;
}
.trending--play{
    left: 80%;
    top: 45%;
    width: 5%;
}
@media(width<800px){
    .movie-card {
        min-width: 65%;
        height: 230px;
    }
}
@media(width<400px){
    .trending--heading {
        font-size: 20px;
    }
    .card--heading {
        font-size: var(--font-body-medium);
    }
    .item--span {
        font-size: var(--font-body-small);
    }
    .movie-card {
        min-width: 65%; 
        height: 140px;
    }
}