.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 36px;
    height: 90%;
    padding-top: 35px;
    padding-bottom: 32px;
    width: 5%;
    background-color: var(--background-semi-dark-blue);
    border-radius: 20px;
}
.avatar--img {
    width: 40px;
    height: 40px;
}
.nav-items {
    display: flex;
    height: 45%;
    flex-direction: column;
    justify-content: flex-start;
    gap: 25%;
}
.category--items {
    display: flex;
    height: 60%;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.category--img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}