
:root {
  --background-red: #FC4747;
  --background-dark-blue: #10141E;
  --background-greyish-blue: #5A698F;
  --background-semi-dark-blue: #161D2F;
  --background-white: #FFFFFF; 
  --font-family: 'Outfit';
  --light: 300;
  --medium: 500;
  --font-heading-large: 32px;
  --font-heading-medium: 24px;
  --font-heading-xs: 18px;
  --font-body-medium: 15px; 
  --font-body-small: 13px; 
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100vh;
  gap: 36px;
  text-align: center;
  background-color: var(--background-dark-blue);
  font-family: var(--font-family);
  font-size: var(--font-heading-large);
  overflow-x: hidden;
}
.content--container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4%;
  width: 90%;
  height: 90%;
  overflow-y: auto;
}
